<%- include('layout/cadastrado/header') %>
<div class="container">
  <input type="text" value="<%= id_aluno %>" id="id_aluno" hidden>
  <div class="row">
    <% jogos.forEach(jogo => { %>
    <div class="col-4"> <a href="/abrirJogo/<%= jogo.id_jogo %>/<%= id_aluno %>">
      <div class="image p-5">
        <img src="/image/Planeta02.png" alt="">
        <h3><strong><%=jogo.nome %></strong></h3>
      </div>
    </a></div>
    <% }); %>
  </div>
  <ul>
    <% jogos.forEach(jogo => { %>
      <li>
        <strong><%= jogo.nome %></strong> - Dificuldade: <%= jogo.dificuldade %>, Categoria: <%= jogo.categoria %>
        <a href="/abrirJogo/<%= jogo.id_jogo %>">Ver Detalhes</a>
      </li>
    <% }); %>
  </ul>

</div>
<%- include('layout/cadastrado/footer') %>